Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*[Tt]est[Rr]eport*
StyleCopReport.xml
FxCopReport.xml
FunctionalTestReport.xml
FunctionalTestCoverage.xml
IntegrationTestReport.xml
IntegrationTestCoverage.xml
UnitTestReport.xml
UnitTestCoverage.xml
coverate-report/
coverage-report/*
*.gpState
